a:hover {
  transform: none;
  text-decoration: underline;
}

.dropdown-toggle::after {
  content: none;
}

input:focus,
select:focus {
  outline: none;
}

.blogNavbar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #001338;
  width: 100%;
  height: fit-content;
  // min-height: 72px;
  margin: 0px;
  padding: 0;

  .navbarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: fit-content;
    border-radius: 0px;
    justify-content: space-between;
    width: 100%;

    @media only screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    .navbarTop {
      display: flex;
      flex-direction: row;
      width: 100%;
      @media only screen and (min-width: 1024px) {
        width: fit-content;
        min-width: calc(675 * 100% / 1440);
      }

      ul {
        width: 100%;
        justify-content: space-between;
        @media only screen and (min-width: 768px) {
          gap: 32px;
        }

        .invi-item {
          display: none;

          @media only screen and (min-width: 710px) {
            display: inline;
          }
        }

        li {
          a {
            // width: 70px;
            // height: 20px;
            font-family: "Ek Mukta";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            color: #ffffff;
            flex: none;
            order: 1;
            flex-grow: 0;
            padding: 0px;
          }

          ul {
            background-color: #001338;

            li {
              a {
                background-color: #001338;
              }
            }
          }

          .dropdown-menu {
            left: auto;
            right: 0%;
          }
        }

        .moreDropDown {
          a {
            span {
              width: 58px;
              height: fit-content;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
            }
          }
        }

        .expandedNavItems {
          display: flex;
        }
      }
    }

    .navbarBottom {
      padding: 0px;
      margin: 0px;
      width: 100%;
      @media only screen and (min-width: 1024px) {
        min-width: calc(448 * 100% / 1440);
        width: fit-content;
      }

      form {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;

        .searchSection {
          width: 100%;
          position: relative;

          .searchBox {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 8px 16px;
            gap: 24px;
            // width: 279px;
            min-width: 279px;
            width: 100%;
            height: 40px;
            background: #ffffff;
            border-radius: 5px;
            font-family: "Product Sans", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #545454;
          }

          .searchIcon {
            position: absolute;
            right: 16px;
            cursor: pointer;
          }
        }

        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;

          .languageSelect {
            font-family: "Product Sans", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            text-align: start;
            color: #ffffff;
            width: 50px;
            height: 20px;
            appearance: none;
            border: none;
            background-color: transparent;
            z-index: 1;
          }

          // .languageSelect:focus {
          //   outline: none;
          // }

          .selectArrow {
            position: absolute;
            right: 0;
            color: white;
          }
        }
      }
    }
  }

  // @media only screen and (min-width: 768px) {

  // }

  @media only screen and (min-width: 1024px) {
    .moreDropDown {
      display: none !important;
    }

    .navbarContainer {
      flex-direction: row !important;
    }

    .expandedNavItems {
      display: block !important;
    }
  }
}
