

a:hover {
  transform: none;
}

.dropdown-toggle::after {
  content: none;
}

input:focus,
select:focus {
  outline: none;
}

.blogNavbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #001338;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;

  .navbarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: fit-content;
    border-radius: 0px;
    justify-content: center;
    @media only screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
    }
    width: 100%;

    .navbarTop {
      width: 100%;
      height: fit-content;
      @media only screen and (min-width: 1024px) {
        width: fit-content;
      }

      ul {
        justify-content: space-between;
        gap: 28px;
        @media only screen and (min-width: 1024px) {
          justify-content: flex-start;
          gap: 32px;
        }
        li {
          width: fit-content;

          a {
            font-family: "Ek Mukta";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            color: #ffffff;
            padding: 0px;
          }
          a:hover {
            text-decoration: underline;
          }
          span {
            width: fit-content;
            // height: 20px;
            font-family: "Ek Mukta";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            color: #ffffff;
            padding: 0px;
          }

          .dropdown-menu {
            width: 100px;
          }

          ul {
            background-color: #001338;
            min-width: max-content;
            gap: 2px;
            // border: solid 1px white;

            li {
              position: relative;
              // top: -10px;
              width: 100%;
              display: flex;
              justify-content: flex-start;
              padding-left: 10px;
              a {
                background-color: #001338;
                width: fit-content;
              }
            }
          }
          .dropdown-menu {
            left: auto;
            right: 0%;
          }
        }
       
        .expandedNavItems {
          display: none;
        }
      }
    }
    .navbarBottom {
      padding: 0px;
      margin: 0px;
      width: 100%;
      @media only screen and (min-width: 1024px) {
        max-width: 350px;
      }

      form {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        @media only screen and (min-width: 1024px) {
          max-width: 350px;
        }

        .searchSection {
          width: 100%;
          position: relative;
          .searchBox {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 8px 16px;
            gap: 24px;
            // width: 279px;
            min-width: 279px;
            width: 100%;
            height: 40px;
            background: #ffffff;
            border-radius: 5px;
            font-family: "Product Sans", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #545454;
          }
          .searchIcon {
            position: absolute;
            right: 16px;
            cursor: pointer;
          }
        }

        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;

          .languageSelect {
            font-family: "Product Sans", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            text-align: start;
            color: #ffffff;
            width: 50px;
            height: 20px;
            appearance: none;
            border: none;
            background-color: transparent;
            z-index: 1;
          }

          // .languageSelect:focus {
          //   outline: none;
          // }

          .selectArrow {
            position: absolute;
            right: 0;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1440px) {

    .expandedNavItems {
      display: block !important;
    }
  }
}
