.blogAlignmentContainer {
  min-height: 100vh;
  height: 100%;
  padding-bottom: 55px;
  width: 100%;
  background-color: ghostwhite;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  .navBlend {
    width: 100vw;
    position: fixed;
    height: 53px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    z-index: 3;
  }

  .containerDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 53px;
    width: 100%;
    align-items: center;
    min-width: 100vw;
    height: fit-content;
    background-color: #d9d9d9;

    .secNavBlend {
      height: 75px;
      width: 100%;
      background-color: #001338;
      position: absolute;
      top: 0px;
    }

    .footerBlend {
      position: absolute;
      width: 100%;
      height: 1015px;
      background: #4f4f4f;
      bottom: 0px;
    }

    .contentDiv {
      height: fit-content;
      width: 375px;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      position: relative;

      .secNavDiv {
        height: fit-content;
        width: 100%;
        position: sticky;
      }

      .bodyDetailsContainer {
        width: 100%;
        margin: 0px;
        padding: 0px;
        position: relative;
        padding: 24px 15px 32px 15px;

        .categoryBlogBody {
          width: 100%;
          height: fit-content;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 32px;

          .leftBodySection {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100;

            .leftHeaderSection {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 16px;

              .categoryHeader {
                display: flex;
                width: fit-content;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 8px;

                .categoryInfo {
                  height: fit-content;
                  width: fit-content;
                  font-family: "Product Sans", sans-serif;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 140%;
                  color: #4f4f4f;
                  margin: 0px;
                  padding: 0px;

                  .catAndSubCat {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                  }
                }

                .categoryTitle {
                  height: fit-content;
                  width: fit-content;
                  font-family: "Product Sans", sans-serif;
                  font-style: normal;
                  font-weight: 700;
                  font-size: 24px;
                  line-height: 140%;
                  color: #0000ff;
                  margin: 0px;
                  padding: 0px;
                }
              }
            }

            .componentMapSection {
              height: fit-content;
              width: 100%;
              // display: none;
            }

            .paginationSection {
              .pageNumberArea {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 8px;
                margin: 0px;
              }
            }
          }

          .rightBodySection {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;

            .blogAdDiv {
              position: relative;
              width: 100%;
              height: 223px;
              background-color: #d9d9d9;
              z-index: 0;
            }

            .rightSidebar {
              padding: 0px;
              width: 100%;
            }
          }
        }
      }

      .footer {
        width: 100%;
        min-height: none;
        height: 1015px;
        background: #4f4f4f;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .blogAlignmentContainer {
    min-height: 100vh;
    height: 100%;
    padding-bottom: 55px;
    width: 100%;
    background-color: ghostwhite;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;

    .navBlend {
      width: 100vw;
      position: fixed;
      height: 53px;
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
      z-index: 3;
    }

    .containerDiv {
      position: relative;
      display: flex;
      flex-direction: column;
      position: relative;
      top: 53px;
      width: 100%;
      align-items: center;
      min-width: 100vw;
      height: fit-content;
      background-color: #d9d9d9;

      .secNavBlend {
        height: 75px;
        width: 100%;
        background-color: #001338;
        position: absolute;
        top: 0px;
      }

      .footerBlend {
        position: absolute;
        width: 100%;
        height: 1015px;
        background: #4f4f4f;
        bottom: 0px;
      }

      .contentDiv {
        height: fit-content;
        width: 375px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        position: relative;

        .secNavDiv {
          height: fit-content;
          width: 100%;
          position: sticky;
        }

        .bodyDetailsContainer {
          width: 100%;
          margin: 0px;
          padding: 0px;
          position: relative;
          padding: 24px 15px 32px 15px;

          .categoryBlogBody {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;

            .leftBodySection {
              display: flex;
              flex-direction: column;
              gap: 24px;
              width: 100;

              .leftHeaderSection {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 16px;

                .categoryHeader {
                  display: flex;
                  width: fit-content;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: center;
                  gap: 8px;

                  .categoryInfo {
                    height: fit-content;
                    width: fit-content;
                    font-family: "Product Sans", sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: #4f4f4f;
                    margin: 0px;
                    padding: 0px;

                    .catAndSubCat {
                      display: flex;
                      flex-direction: row;
                      flex-wrap: wrap;
                      align-items: center;
                      justify-content: center;
                      gap: 10px;
                    }
                  }

                  .categoryTitle {
                    height: fit-content;
                    width: fit-content;
                    font-family: "Product Sans", sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 140%;
                    color: #0000ff;
                    margin: 0px;
                    padding: 0px;
                  }
                }
              }

              .componentMapSection {
                height: fit-content;
                width: 100%;
                // display: none;
              }

              .paginationSection {
                .pageNumberArea {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  gap: 8px;
                  margin: 0px;
                }
              }
            }

            .rightBodySection {
              width: 100%;
              height: fit-content;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 32px;

              .blogAdDiv {
                position: relative;
                width: 100%;
                height: 223px;
                background-color: #d9d9d9;
                z-index: 0;
              }

              .rightSidebar {
                padding: 0px;
                width: 100%;
              }
            }
          }
        }

        .footer {
          width: 100%;
          min-height: none;
          height: 1015px;
          background: #4f4f4f;
        }
      }
    }
  }
}
