.blogDetailsAlignmentContainer {
  min-height: 100vh;
  height: 100%;
  padding-bottom: 55px;
  width: 100%;
  background-color: ghostwhite;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  .navBlend {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 53px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    z-index: 3;
  }

  .blogContainerDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 53px;
    width: 100%;
    align-items: center;
    min-width: 100vw;
    height: fit-content;
    background-color: #ffffff;
    
    .blogSecNavBlend {
      height: 105.5px;
      width: 100%;
      background-color: #001338;
      position: absolute;
      top: 0px;
    }

    .footerBlend {
      position: absolute;
      width: 100%;
      height: 758px;
      background: #4f4f4f;
      bottom: 0px;

      .lowerFooterBlend {
        position: absolute;
        bottom: 0px;
        height: 201.5px;
        width: 100%;
        background-color: #1e1e1e;
        // z-index: 2;
      }
    }

    .contentDiv {
      height: fit-content;
      width: 100%;
      min-width: 345px;
      max-width: none;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      position: relative;
      @media screen and (min-width: 768px) {
        max-width: 800px;
      }

      .secNavDiv {
        height: fit-content;
        width: 100%;
        position: sticky;
        padding: 12px 15px 18px 15px;
        background-color: #001338;

        @media screen and (min-width: 768px) {
          padding: 12px 30px 18px 30px;
        }
      }

      .bodyContainer {
        width: 100%;
        margin: 0px;
        padding: 0px;
        position: relative;
        padding: 17.5px 15px 32px 15px;

        @media screen and (min-width: 768px) {
          padding: 16px 30px 32px 30px;
        }

        .categoryBlogBody {
          width: 100%;
          height: fit-content;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 24px;

          .blogDetailsMainSection {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            .blogDetailsLeftBodySection {
              display: flex;
              flex-direction: column;
              gap: 16px;
              width: 100%;

              .leftHeaderSection {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 17.5px;

                .blogDetailsCategoryHeader {
                  display: flex;
                  width: fit-content;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: center;
                  gap: 8px;

                  .categoryInfo {
                    height: fit-content;
                    width: fit-content;
                    font-family: "Product Sans", sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    color: #4f4f4f;
                    margin: 0px;
                    padding: 0px;

                    .catAndSubCat {
                      display: flex;
                      flex-direction: row;
                      flex-wrap: wrap;
                      align-items: center;
                      text-align: center;
                      gap: 7px;

                      .catSubCatNames {
                        font-family: "Ek Mukta";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 140%;
                        color: #4f4f4f;
                      }
                    }
                  }

                  .categoryTitle {
                    height: fit-content;
                    width: fit-content;
                    font-family: "Product Sans", sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 140%;
                    color: #0000ff;
                    margin: 0px;
                    padding: 0px;
                  }
                }

                .blogDetailsTitle {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  padding: 0px;
                  gap: 10px;
                  width: 100%;

                  .blogSubCategoryTitle {
                    font-family: "Product Sans", sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 140%;
                    color: #0000ff;
                  }

                  .blogTitleAndAuthor {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    width: 100%;
                    .blogTitle {
                      font-family: "Product Sans", sans-serif;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 20px;
                      line-height: 140%;
                      color: #333333;
                    }

                    .blogByAndShare {
                      display: flex;
                      flex-direction: row;
                      width: 100%;
                      justify-content: space-between;
                      align-items: center;
                      .blogBy {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 8px;

                        .author,
                        .posted {
                          font-family: "Ek Mukta";
                          font-style: normal;
                          font-weight: 400;
                          font-size: 16px;
                          line-height: 140%;
                          color: #4f4f4f;
                        }

                        .separator {
                          display: flex;
                          align-items: center;
                        }
                      }

                      .shareButton {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        padding: 8px 16px;
                        gap: 8px;
                        width: fit-content;
                        height: 36px;
                        background: #0000ff;
                        border: none;
                        border-radius: 6px;
                        outline: none;
                        font-family: "Product Sans", sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 140%;
                        text-align: center;
                        color: #ffffff;
                      }
                    }
                  }
                }
              }

              .blogDetailsComponentSection {
                height: fit-content;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 22px;

                .blogDetails {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  gap: 24px;

                  .blogDetailsThumbnail {
                    max-width: 100%;
                    height: fit-content;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .blogDetailsImage {
                      width: 100%;
                      height: 100%;
                      border-radius: 5px;
                    }
                  }

                  // @media screen and (min-width: 576px) {
                  //   .blogDetailsThumbnail {
                  //     height: 405px;
                  //   }
                  // }

                  .blogDetailsFromBackend {
                    display: flex;
                    flex-direction: column;
                    gap: 22px;
                    p {
                      font-family: "Ek Mukta";
                      font-style: normal;
                      font-weight: 400;
                      font-size: 16px;
                      line-height: 180%;
                      color: #4f4f4f;
                      align-self: stretch;
                      margin: 0;
                      padding: 0;
                    }
                    figure {
                      margin: 0;
                      padding: 0;
                      max-width: 100%;
                      height: 230px;
                    }

                    .blogAdSection {
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      align-items: center;
                      padding: 36px 0;
                      gap: 10px;
                      width: 100%;
                      height: 100px;
                      background: #d9d9d9;
                      font-family: "Product Sans", sans-serif;
                      font-style: normal;
                      font-weight: 400;
                      font-size: 32px;
                      line-height: 39px;
                      color: #000000;
                    }
                  }
                }
              }

              .topSearch {
                margin-top: 8px;
                display: flex;
                flex-direction: column;
                gap: 16px;

                .topSearchHeader {
                  font-family: "Product Sans", sans-serif;
                  font-style: normal;
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 140%;
                  color: #333333;
                  margin: 0;
                  padding: 0;
                }

                ul {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  width: 100%;
                  gap: 12px;
                  margin: 0;
                  padding: 0;
                  overflow-x: auto;

                  li {
                    margin: 0;
                    padding: 0;
                    width: fit-content;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px 16px;
                    min-width: fit-content;
                    background: #f4f4f4;
                    border-radius: 31px;

                    .listedItems {
                      display: flex;
                      flex-direction: row;
                      flex-wrap: nowrap;
                      justify-content: center;
                      align-items: center;
                      width: 100%;
                      outline: none;
                      margin: 0;
                      padding: 0;
                      font-family: "Product Sans", sans-serif;
                      font-style: normal;
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 140%;
                      color: #333333;
                      &:hover {
                        transform: none;
                        color: #0d6efd;
                      }
                    }
                  }
                }
              }
            }

            .rightBodySection {
              width: 100%;
              height: fit-content;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 32px;

              .blogAdDiv {
                position: relative;
                width: 100%;
                height: 223px;
                background-color: #d9d9d9;
                z-index: 0;
                display: none;
                @media screen and (min-width: 1024px) {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  font-family: "Product Sans";
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 140%;
                  color: #000000;
                }
              }

              .rightSidebar {
                padding: 0px;
                width: 100%;
              }
            }
            @media screen and (max-width: 1023px) {
              .rightBodySection {
                display: flex;
              }
            }

            .topSearch {
            }
          }

          .blogDetailsFooterRelatedBlogs {
            display: none;
            flex-direction: column;
            gap: 60px;
            width: 100%;
            height: fit-content;

            .lawPolicyDiv {
              display: flex;
              flex-direction: column;
              gap: 16px;
            }

            @media screen and (min-width: 1024px) {
              display: flex;
            }
          }

          @media screen and (min-width: 1024px) {
            .blogDetailsMainSection {
              width: 100%;
              height: fit-content;
              display: flex;
              flex-direction: row;
              gap: 40px;
              align-items: flex-start;

              .blogDetailsLeftBodySection {
                width: calc(830 * 100% / 1280);
              }
              .rightBodySection {
                width: calc(410 * 100% / 1280);
              }
            }
          }
        }
      }

      .footer {
        width: 100%;
        min-height: none;
        height: fit-content;
        background: #4f4f4f;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .blogDetailsAlignmentContainer {
    height: 100%;
    padding: 0px;
    padding-bottom: 69px;
    width: 100%;
    background: #ffffff;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .navBlend {
      width: 100%;
      position: fixed;
      top: 0px;
      height: 67px;
      background: #ffffff;
    }

    .blogContainerDiv {
      position: relative;
      width: 100%;
      top: 67px;

      .blogSecNavBlend {
        height: 70px;
        width: 100%;
        background-color: #001338;
        position: absolute;
        top: 0px;
      }

      .footerBlend {
        position: absolute;
        width: 100%;
        height: 435.5px;
        background: #4f4f4f;
        bottom: 0px;

        .lowerFooterBlend {
          position: absolute;
          bottom: 0px;
          height: 139.5px;
          width: 100%;
          background-color: #1e1e1e;
          // z-index: 2;
        }
      }

      .contentDiv {
        height: fit-content;
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        position: relative;
        box-shadow: none;

        .secNavDiv {
          height: fit-content;
          width: 100%;
          position: sticky;
          padding: 12px 5.5% 18px 5.5%;
        }

        .bodyContainer {
          padding: 24px 5.5% 40px 5.5%;
          width: 100%;

          .categoryBlogBody {
            // flex-direction: row;
            // justify-content: center;
            // gap: calc(40 * 100% / 1280);
            // align-items: flex-start;
            // width: 100%;

            .blogDetailsMainBodySection {
              flex-direction: row;
              justify-content: center;
              gap: calc(40 * 100% / 1280);
              align-items: flex-start;
              width: 100%;
              .blogDetailsLeftBodySection {
                width: calc(830 * 100% / 1280);
                gap: 24px;

                .leftHeaderSection {
                  gap: 24px;
                  .blogDetailsCategoryHeader {
                    .categoryInfo {
                    }

                    .categoryTitle {
                    }
                  }
                }

                .blogDetailsComponentSection {
                  gap: 24px;

                  .blogDetails {
                    .blogDetailsThumbnail {
                      height: 550px;
                    }

                    .blogDetailsFromBackend {
                      p {
                      }
                      figure {
                        height: 376px;
                      }
                    }
                  }
                }
              }

              .rightBodySection {
                gap: 41px;
                padding: 0px;
                margin: 0px;
                width: calc(410 * 100% / 1280);
                height: fit-content;
                overflow: hidden;

                .blogAdDiv {
                  display: block;
                  position: relative;
                  width: 100%;
                  height: 279px;
                  background-color: #d9d9d9;
                  z-index: 0;
                }

                .rightSidebar {
                  width: 100%;
                  padding: 0px;
                }
              }
            }
          }
        }

        .footer {
          width: 100%;
          height: fit-content;
          background: #4f4f4f;
        }
      }
    }
  }
}
