.bodyContainer {
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding: 0px 15px;

  .categoryBlogBody {
    width: 100%;
    height: fit-content;
    // padding: 24px 15px 32px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .leftBodySection {
      .leftHeaderSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;

        .categoryHeader {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 8px;

          .categoryInfo {
            font-family: "Product Sans", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: #4f4f4f;
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            align-items: center;

            .catAndSubCat {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              align-items: center;
              gap: 11.5px;

              .catSubCatNames {
                font-family: "Product Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 140%;
                color: #4f4f4f;
              }
            }
          }
          .categoryTitle {
            font-family: "Product Sans", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 140%;
            color: #0000ff;
            margin: 0px;
            padding: 0px;
          }
        }

        .sortSection {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          padding-right: 20px;
          width: fit-content;
          height: fit-content;
          margin: 0px;
          padding: 0px;

          .sortTitle {
            font-family: "Product Sans", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            color: #4f4f4f;
          }
          .sortButton {
            display: flex;
            position: relative;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #4f4f4f;
            width: 137px;

            .subCategorySelect {
              font-family: "Product Sans", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              text-align: center;
              color: #4f4f4f;
              height: 22px;
              width: 100%;
              appearance: none;
              border: none;
              background-color: transparent;
              z-index: 2;

              .option {
                width: 137px;
                text-align: center;
              }
            }

            .subCategorySelect:focus {
              outline: none;
            }

            .selectArrow {
              position: absolute;
              right: 0;
              z-index: -1;
            }
          }
        }
      }

      .componentMapSection {
        .blogDetails {
          width: 345px;
          height: fit-content;
          font-family: "Product Sans", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 140%;
          color: #333333;
        }

        .blogTitle {
        }
      }

      .paginationSection {
        .pageNumberArea {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 8px;
        }
      }
    }

    .rightBodySection {
      .rightSidebar {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .bodyContainer {
    .categoryBlogBody {
      flex-direction: row;
      justify-content: center;
      gap: 40px;
      align-items: flex-start;

      .leftBodySection {
        .leftHeaderSection {
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          position: relative;
          .categoryHeader {
            .categoryInfo {
            }
            .categoryTitle {
            }
          }

          .sortSection {
            position: absolute;
            top: 42px;
            right: 0px;
            .sortTitle {
            }
            .sortButton {
              .subCategorySelect {
                .option {
                }
              }

              .subCategorySelect:focus {
              }

              .selectArrow {
              }
            }
          }
        }

        .componentMapSection {
        }
      }

      .rightBodySection {
        padding: 0px;
        margin: 0px;

        .rightSidebar {
          padding-top: 0px;
        }
      }
    }
  }
}
