.bottomComponent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;

    .imageDiv {
        width: 120px;
        height: 100%;
        overflow: hidden;

        .image {
            width: 100%;
            height: auto;
        }

    }

    .desDiv {
        // width: 100px;
        width: calc(100% - 136px);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .headingDiv {
            width: 100%;
            height: 44px;
            font-family: 'Ek Mukta';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            color: #333333;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .timeDiv {
            font-family: 'Ek Mukta';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #4F4F4F;
        }
    }
}