.featuredProperties {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: calc(12 * 100% / 410);

  .imageContainer {
    width: 120px;
    overflow: hidden;
    height: 102px;
    border-radius: 3px;
    overflow: hidden;
    @media only screen and (min-width: 1024px) {
      height: 105px;
    }

    .image {
      width: 120px;
      height: 102px;
      border-radius: inherit;
      object-fit: contain;
      transition: 0.3s ease-in-out;
    }
  }

  .contentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: calc(274 * 100% / 410);
    height: 102px;

    .propertyTitle {
      position: relative;
      width: 100%;

      p {
        position: relative;
        font-family: "Product Sans", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        margin: 0px;
        padding: 0px;
      }
    }

    .propertyAddress {
      position: relative;
      width: 100%;

      p {
        position: relative;
        font-family: "Product Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        display: flex;
        align-items: center;
        color: #707580;
        margin: 0px;
        padding: 0px;
      }
    }

    .propertyOverview {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      min-width: 100%;
      width: fit-content;
      overflow: hidden;

      .overviewDatas {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        height: min-content;
        gap: 8px;
        @media only screen and (min-width: 1024px) {
          gap: 4px;
        }
        @media only screen and (min-width: 1100px) {
          gap: 8px;
        }

        .iconContainer {
          position: relative;
          width: fit-content;
          height: fit-content;
          margin: 0;
          padding: 0;

          .overviewIcons {
            margin: 0px;
            padding: 0px;
            gap: 0px;
            width: fit-content;
            height: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
        }

        .overViewInformation {
          display: flex;
          flex-direction: row;
          gap: 2px;

          .overViewTags {
            position: relative;
            font-family: "Product Sans", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: #707580;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            flex-grow: 1;
            margin: 0px;
            padding: 2px 0px 0px 1px;
            width: auto;
            word-spacing: 2px;
            gap: 8px;
            @media only screen and (min-width: 1024px) {
              font-size: 11px;
            }
            @media only screen and (min-width: 1050px) {
              font-size: 12px;
            }
          }
        }
      }
    }

    .propertyPrice {
      display: flex;
      flex-direction: row;
      gap: 3px;
      width: 100%;

      .price {
        font-family: "Product Sans", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        display: flex;
        align-items: center;
        color: #0000ff;
        margin-right: 1.5px;
      }

      .unit {
        font-family: "Product Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        display: flex;
        align-items: center;
        color: #0000ff;
        word-spacing: 2px;
      }
    }
  }

  &:hover {
    .imageContainer {
      .image {
        transform: scale(1.1);
      }
    }

    .contentContainer {
      .propertyTitle {
        p {
          text-decoration: underline;
        }
      }
    }
  }
}
