.homeLoan {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
  gap: 16px;
  // width: 345px;
  width: 100%;
  height: 90px;
  transition: 0.4s all;
  cursor: pointer;

  .imageContainer {
    width: 120px;
    height: 100%;
    background: #d9d9d9;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    overflow: hidden;

    .homeLoanImage {
      width: auto;
      height: 100%;
      @media only screen and (min-width: 1024px) {
        width: unset;
        height: unset;
        transition: 0.3s ease-in-out;
      }
    }
  }
  .blogContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 209px;
    height: fit-content;

    .blogHeader {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      p {
        margin: 0px;
        padding: 0px;
        font-family: "Ek Mukta";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #333333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .blogBy {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .author,
      .posted {
        font-family: "Ek Mukta";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 150%;
        color: #4f4f4f;
      }

      .separator {
        display: flex;
        align-items: center;
      }
    }
  }
}

.homeLoan:hover .blogHeader p {
  text-decoration: underline;
}

.homeLoan:hover .homeLoanImage {
  transform: scale(1.1);
}

@media only screen and (min-width: 1024px) {
  .homeLoan {
    width: 100%;
    height: 107.33px;

    .imageContainer {
      width: calc(260 * 100% / 628);
      height: 107.33px;
    }
    .blogContents {
      width: calc(352 * 100% / 628);
      height: fit-content;

      .blogCategoryTitle {
        p {
        }
      }
      .blogHeader {
        p {
          font-size: 20px;
          line-height: 150%;
          height: auto;
        }
      }

      .blogBy {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        .author,
        .posted {
          font-family: "Ek Mukta";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #4f4f4f;
        }

        .separator {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
