.homeBlogTypeMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  min-width: 250px;
  width: 100%;
  height: 250px;
  background: linear-gradient(
    0.14deg,
    rgba(17, 16, 16, 0.7) 12.94%,
    rgba(0, 0, 0, 0) 67.86%
  );
  border-radius: 6px;
  align-self: stretch;
  margin: 0px;
  padding: 0px;
  position: relative;

  .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: linear-gradient(
      0.14deg,
      rgba(17, 16, 16, 0.7) 12.94%,
      rgba(0, 0, 0, 0) 67.86%
    );
    overflow: hidden;

    .blogCardBackground {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      transition-delay: 0.2s;
      transition: 0.3s ease-in-out;
    }
  }

  .thumbnail::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    background: linear-gradient(
      0.14deg,
      rgba(17, 16, 16, 0.7) 12.94%,
      rgba(0, 0, 0, 0) 67.86%
    );
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
    height: fit-content;
    flex: none;
    align-self: stretch;
    padding: 0px 16px 16px 16px;
    background: transparent;
    z-index: 2;

    .blogCategoryTag {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: 26px;
      background: #0000ff;
      padding: 0px 12px;
      border-radius: 3px;
      z-index: 3;

      isolation: isolate;

      .blogTagLinks {
        display: inline-block;
        transform: none;

        p {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          font-family: "Ek Mukta";
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 140%;
          text-transform: uppercase;
          color: #ffffff;
          height: fit-content;
          margin: 0px;
          padding: 0px;
        }
      }
    }

    .blogTitle {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      height: fit-content;

      p {
        font-family: "Ek Mukta";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin: 0px;
        padding: 0px;
        min-height: 42px;
        height: fit-content;
      }
    }

    .blogBy {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;

      .author,
      .posted {
        font-family: "Ek Mukta";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 140%;
        color: #ffffff;
      }

      .separator {
        display: flex;
        align-items: center;
      }
    }
  }
}

.homeBlogTypeMain:hover .blogTitle p {
  text-decoration: underline;
}

.homeBlogTypeMain:hover .blogCardBackground {
  transform: scale(1.1);
}

@media only screen and (min-width: 710px) {
  .homeBlogTypeMain {
    height: 500px;

    .thumbnail {
      .blogCardBackground {
      }
    }

    .cardContent {
      .blogTitle {
        p {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
        }
      }

      .blogBy {
        .author,
        .posted {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .homeBlogTypeMain {
    width: 100%;
    height: 500px;

    .thumbnail {
      .blogCardBackground {
      }
    }

    .cardContent {
      .blogTitle {
        p {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
        }
      }
    }
  }
}
