* {
  margin: 0;
  padding: 0;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 8px 21px 8px;
  gap: 8px;
  width: 280px;
  height: fit-content;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 6px;

  .imageContainer {
    width: 100%;
    height: 140px;
    border-radius: 3px;

    img {
      border-radius: inherit;
      object-fit: contain;
    }
  }

  .contentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
    height: 122px;

    .propertyTitle {
      position: relative;
      width: 100%;

      p {
        position: relative;
        font-family: "Product Sans", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #2c2c2c;
        margin: 0px;
        padding: 0px;
      }
    }

    .propertyAddress {
      position: relative;
      width: 100%;

      p {
        position: relative;
        font-family: "Product Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        display: flex;
        align-items: center;
        color: #707580;
        margin: 0px;
        padding: 0px;
      }
    }

    .propertyOverview {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 8px;
      align-items: center;
      width: 100%;

      .overviewDatas {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
        height: min-content;

        .iconContainer {
          position: relative;
          width: fit-content;
          height: fit-content;
          margin: 0px;
          padding: 0px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .overviewIcons {
            margin: 0px;
            padding: 0px;
            gap: 0px;
            width: fit-content;
            height: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
          }
        }

        .overViewTags {
          position: relative;
          font-family: "Product Sans", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          color: #707580;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          flex-grow: 1;
          margin: 0px;
          padding: 2px 0px 0px 1px;
          width: auto;
          word-spacing: 2px;
        }
      }
    }

    .propertyPrice {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 3px;
      width: 100%;
      // display: none;

      .priceDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 3px;
        // height: fit-content;
        height: 22px;

        .price {
          font-family: "Product Sans", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 140%;
          display: flex;
          align-items: center;
          color: #0000ff;
          width: fit-content;
          height: fit-content;
          padding-bottom: 3px;
        }

        .unit {
          font-family: 'Product Sans', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 140%;
          display: flex;
          align-items: center;
          color: #0000FF;
        }
      }

      .contactButtonContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 15.5px;
        width: 80px;
        height: 32px;
        border: 1px solid #2b2b2b;
        border-radius: 6px;
        margin: 0px;
        font-family: "Product Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        color: #2b2b2b;
        background-color: transparent;

        // display: none;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 100%;
    min-height: 334px;
    height: fit-content;
    padding: 0px;
    gap: 8px;
    border: none;

    .imageContainer {
      width: 100%;
      height: 198px;
      border: solid 1px;


      img {}
    }

    .contentContainer {
      gap: 12px;
      width: 100%;
      min-height: 128px;
      height: fit-content;

      .propertyTitle {

        p {
          width: fit-content;
          height: 28px;
          font-family: 'Product Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 140%;
          color: #000000;
        }
      }

      .propertyAddress {

        p {
          margin: 0px;
          font-size: 12px;
          }
      }

      .propertyOverview {

        .overviewDatas {

          .iconContainer {
    
            .overviewIcons {}
          }

          .overViewTags {}
        }
      }

      .propertyPrice {
        justify-content: space-between;

        .priceDiv {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          padding: 0px;
          gap: 3px;
          width: fit-content;
          height: 25px;

          .price {
            font-family: "Product Sans", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            display: flex;
            align-items: center;
            color: #0000ff;
            width: fit-content;
            height: 22px;
          }

          .unit {
            padding-bottom: 2px;
            font-size: 12px;
          }
        }

        .contactButtonContainer {
          background-color: transparent;
        }

      }


    }
  }
}