@import "./homeBlogTypeMain";
@import "./homeBlogTypeSmall";
@import "./marketNewsTypeMain";
@import "./marketNewsTypeSecondary";
@import "./MainProperty";
@import "./homeLoan";
@import "./lawAndPolicy";
@import "./lifeStyle";
@import "./relatedBlogs";
@import "./featuredProperties";
@import "./categorySpecificBlog";
@import "./bottomComponent.scss";
@import "./detailProperty.scss";
@import "./ourThoughts";