.marketNewsTypeMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 100%;
  min-height: 388px;
  height: fit-content;
  transition: 0.4s all;

  .imageContainer {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border-radius: 6px;
    width: 100%;
    height: 180px;
  }

  .blogContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    .blogCategoryTitle {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      p {
        margin: 0px;
        padding: 0px;
        font-family: "Product Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 140%;
        text-transform: uppercase;
        color: #0000ff;
      }
    }
    .blogHeader {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      p {
        margin: 0px;
        padding: 0px;
        font-family: "Product Sans", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #333333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .blogBody {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      p {
        margin: 0px;
        padding: 0px;
        font-family: "Product Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }

    .blogBy {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      .author,
      .posted {
        font-family: "Product Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #4f4f4f;
      }

      .separator {
        display: flex;
        align-items: center;
      }
    }
  }
}

.marketNewsTypeMain:hover {
  transform: scale(0.9);
}

@media only screen and (min-width: 1024px) {
  .marketNewsTypeMain {
    width: 100%;
    height: 100%;

    .imageContainer {
      height: 300px;
    }
  }
}
