.marketNewsTypeSecondary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
  gap: 16px;
  width: 100%;
  height: 100%;
  transition: 0.4s all;
  cursor: pointer;

  .imageContainer {
    width: 120px;
    height: 100%;
    background: #d9d9d9;
    border-radius: 6px;
    overflow: hidden;

    .image {
      height: 100%;
      width: auto;
      transition: 0.3s ease-in-out;
    }
  }
  .blogContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 209px;
    height: 100%;

    .blogCategoryTitle {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      p {
        margin: 0px;
        padding: 0px;
        font-family: "Ek Mukta";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
        text-transform: uppercase;
        color: #0000ff;
      }
    }
    .blogHeader {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: fit-content;
      p {
        height:24px;
        margin: 0px;
        padding-top: 2px;
        font-family: "Ek Mukta";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        color: #333333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    .blogBy {
      display: none;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .marketNewsTypeSecondary {
    width: 100%;
    height: 133.33px;

    .imageContainer {
      width: 260px;
      height: 133.33px;
    }
    .blogContents {
      width: 100%;
      height: 100%;

      .blogHeader {
        p {
          font-size: 16px;
          height: 24px;
        }
      }

      .blogBy {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        .author,
        .posted {
          font-family: "Ek Mukta";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 140%;
          color: #4f4f4f;
        }

        .separator {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.marketNewsTypeSecondary:hover .blogHeader p {
  text-decoration: underline;
}

.marketNewsTypeSecondary:hover .image {
  transform: scale(1.1);
}
