@font-face {
  font-family: "Product Sans";
  src: url("/Fonts/ProductSans.ttf") format("truetype");
}

@font-face {
  font-family: "Ek Mukta";
  src: url("/Fonts/EkMukta-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ek Mukta Bold";
  src: url("/Fonts/EkMukta-ExtraBlod.ttf") format("truetype");
}
