@font-face {
  font-family: "Product Sans";
  src:local('Pacifico Regular'), local('Pacifico-Regular'),
  url("/Fonts/ProductSans.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Ek Mukta";
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
  url("/Fonts/EkMukta-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Ek Mukta Bold";
  src:local('Pacifico Regular'), local('Pacifico-Regular'),
  url("/Fonts/EkMukta-ExtraBlod.ttf") format("truetype");
  font-display: swap;
}
